[2021-09-27 18:40] sdiao commented on #318
Hi @sabeaussan , thanks for reaching out. We are reviewing your question. Could you share what are the other parameters that you are using in the Articulation Body's X Drive?

My colleague @peifeng-unity has the following two recommendations for you to try out:
1. Set the stiffness to zero. `xDrive.stiffness = 0`
2. Alternatively, set the target to current joint position. `xDrive.target = jointPos

[2021-09-27 19:34] NathanielRose commented on #314
Thanks @sdiao , I updated and was able to use this method to detect ROS connectivity!

[2021-09-27 19:34] #314 closed

[2021-09-27 19:35] NathanielRose commented on #301
@mqt0029 Any update on the URDF?

[2021-09-27 20:13] sdiao commented on #314
Hi @NathanielRose , I am glad that you are able to use `HasConnectionError` to detect ROS connectivity. Feel free to reach out if you have any question and feedback in the future.

[2021-09-27 22:53] mqt0029 commented on #301
@NathanielRose as it turns out the collision did came from the gripper, and doing either #216's solution or running the URDF through MoveIt setup assistant and generate a Gazebo compatible URDF disabled all the necessary contacts so it won't happen again.

For reference, I am using [jr-robotics/robotiq](https://github.com/jr-robotics/robotiq) and [fmauch's UR description](https://github.com/fmauch

[2021-09-30 01:48] mrpropellers commented on #316
ROS is already designed to handle this type of decentralized network discovery, and the ROS-TCP-Endpoint is in itself a message broker.  Your ROS components do not necessarily need to live on the same device or in the same container as the ROS-TCP-Endpoint, so if you have a device with a relatively static IP that you want to use as the bridge between Unity and your ROS processes, you can launch th

[2021-10-09 07:41] #295 closed

[2021-10-09 07:41] #301 closed

[2021-10-09 07:42] #303 closed

[2021-10-09 07:42] #309 closed

[2021-10-09 19:13] cdh4u commented on #316
I was thinking about that. However, at least in my case I believe that there are some issues with that:

First, you need to be able to establish a multi-port bi-directional connection between the ROS devices. Firewalls are most likely going to prevent that. Yes, you could perhaps establish a VPN between the ROS devices, but that would in practice require static IP addresses on both devices (it is

[2021-10-11 18:36] #273 closed

[2021-10-17 17:06] #280 closed

[2021-10-22 07:43] Gescheld opened #325 "Problems during interaction with the urdf-importer-robot at runtime"
Hi,
I loaded my robot into Unity using the Unity-Robotics Urdf importer, wrote my own controller to control the joints via ROS (TCP-ROS connection).
That all worked. Unfortunately, I cannot transform the robot, or the base-link, during runtime with the "NearInteractionGrabbable".
I have also tried to attach the robot to a movable empty object as a child, but that doesn't work either (as described

[2021-10-24 04:26] WenqiangX opened #326 "When will Force sensor be ready?"
Hi,

I read the README.md of this repo, it says "Force/Torque Sensor API" is comming soon.

Could you maybe give a rough time about when will it be ready? I guess it means making the ArticulationBody.getJointForces() actually work?

Thanks!

[2021-10-29 09:42] #325 closed, assigned to hyounesy

[2021-11-05 17:03] peifeng-unity commented on #326
Hello @WenqiangX, thanks for asking for the feature of the force sensor. May I clarify if you are looking for the force that the actuators/drivers apply on the joints or the collision/contact forces when multiple objects collide with each other?

If it is the second one, Unity provides [the APIs](https://docs.unity3d.com/ScriptReference/Collision.html) (e.g. `Collision.GetContacts` and `Collision.

[2021-11-05 17:57] WenqiangX commented on #326
Thanks for the reply @peifeng-unity, I meant for the former, as it is important for force control and dynamics related researches. Many robot research simulator like Pybullet, MuJoCo, and Omniverse have added such feature.

I gather currently the robot joints are driven by PD control (according to Section Joint drive effect in https://docs.unity3d.com/Manual/class-ArticulationBody.html).

To enabl

[2021-11-05 18:47] peifeng-unity commented on #326
Hi @WenqiangX, thanks for letting us know about your use case. Our physics team is actively working on releasing this feature, which is related to inverse dynamics. To my best knowledge, it is coming soon, probably in the next couple of weeks or so. We can keep you updated once it is publicly available.

[2021-11-05 21:43] WenqiangX commented on #326
Thanks, looking forward to it!

[2021-11-12 11:12] ryangoh206 commented on #262
Hi I have faced this problem as well, I'm trying to import the spot robot. But, when the scene is ran, all the links fall apart.

[2021-11-12 11:12] ryangoh206 commented on #262
Hi I have faced this problem as well, I'm trying to import the spot robot. But, when the scene is ran, all the links fall apart.

[2021-11-12 15:49] karthikm-0 opened #332 "Teleoperating robot produces strange behavior that deviates from Gazebo simulation"
**Describe the bug**
I'm trying to teleoperate a robot by having it subscribe to joint states of a Gazebo simulation of the robot. However, there are moments where my inputs lead to the robot behaving strangely, but this doesn't happen in Gazebo. This makes me think there is something funky going on inside Unity. I've disabled the collisions between all links and am using the VHACD for importing t

[2021-11-12 17:19] at669 commented on #262
Hi @ryangoh206, can you describe your issue using the bug report template below so we can take a look into the issue? Thanks!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Console logs / stack traces**
Please wrap in [triple backticks (```)](http

[2021-11-12 17:21] zarumo opened #333 "Part4 : "Error : Failed to resolve message name: list index out of range""
Hello.

I finished parts 0~3 of Pick-and-Place tutorials using Ubuntu18.04 PC.
Now I am trying to do Part 4 with my real Niryo One, but I am having trouble getting errors and don't know what to do.

I connected my PC to Niryo One via Ethernet on Ubuntu.
I launched Niryo One Studio, got the calibration done, and then executed the Unity scene.
Both simulated Niryo One and real Niryo One didn't move.

[2021-11-15 02:53] ryangoh206 commented on #262
**Description of Bug**
I have imported the spot and husky robot from their respective URDF files found in their repositories.
Spot: [Link](https://github.com/clearpathrobotics/spot_ros)
Husky: [Link](https://github.com/husky/husky)
However, when I run the scene, all the links fall apart as seen in the image below (attached image shows spot robot but similar behavior is observed for husky robot as

[2021-11-15 22:35] sdiao commented on #333
Hi @zarumo , thanks for reaching out and sharing the detailed logs. We are currently investigating the issue and will keep you posted.

[2021-11-16 16:14] peifeng-unity commented on #326
Hello @WenqiangX, the inverse dynamics is released! Please find the force sensor feature [here](https://forum.unity.com/threads/inverse-dynamics-for-articulation-bodies.1198696/)

[2021-11-16 18:40] LaurieCheers-unity commented on #332
Hi, judging by the way it flips around in the video, I'm not convinced it's a collision issue. This looks more like you're doing some kind of conversion on your joint angles, and within a certain range the results you get are off by 180 degrees.

Can you share your code that's actually controlling the articulation bodies?

[2021-11-16 20:01] WenqiangX commented on #326
Thank for your hard working! That's great news! I think I can close the issue for now.

[2021-11-16 20:01] #326 closed

[2021-11-16 20:47] karthikm-0 commented on #332
Hi,

The code is below:
`        // Apply the new joint state-
        for (var j = 0; j < armJoints.Length; j++)
        {
            // Get the current joint position
            float angle;

            var jointXDrive = armJoints[j].xDrive;
            // If joint state message
            if (currentJointState != null)
            {
                angle = Mathf.Rad2Deg * Convert.ToSingle(c

[2021-11-16 20:50] karthikm-0 commented on #332
Hi,

Please see the code below:

    public static void MoveJoints(ArticulationBody[] armJoints, JointStateMsg currentJointState=null,
        JointTrajectoryPointMsg currentTrajPoint=null, int startofArmJoints=2)
    {
        // Apply the new joint state-
        for (var j = 0; j < armJoints.Length; j++)
        {
            // Get the current joint position
            float angle;

[2021-11-16 22:12] LaurieCheers-unity commented on #332
I can't tell what your NormalizeAngle function is for, but I'm pretty sure it's causing your bug. (When angle is supposed to be max, it returns min instead?)

If you try removing the calls to NormalizeAngle, I suspect the problem will go away.

[2021-11-19 15:11] karthikm-0 commented on #332
Ahhh, that worked! I think this function was something I tried to use back when the ArticulationBodies were causing instabilities with the robot. But that has now been resolved so the function doesn't serve a purpose. I completely forgot about its existence. Thank you so much for helping me pinpoint this

[2021-11-19 18:11] LaurieCheers-unity commented on #332
You're welcome!

[2021-11-19 18:11] #332 closed

[2021-11-23 10:09] PsePaleBlue commented on #333
See https://forum.unity.com/threads/followjointtrajectory-action-does-not-generate-register-code.1201636/.
Looks like the same issue to me.

[2021-12-01 16:12] zarumo commented on #333
Thank you @PsePaleBlue.
I looked at your solution and added the same code as you to the RobotMoveActionGoal code, instead of FollowJointTrajectoryActionFeedback code.

As a result, the Unity's
 _Unknown message class ''_
error and the Ros's
 _Failed to resolve message name: list index out of range_
error disappeared.

However, pressing Publish button still cause the same error below to Unity side

[2021-12-02 22:58] rshanor commented on #262
@ryangoh206 I am also having issues importing the spot URDF. I am able to import the robot, but when I hit play, all the limbs fall off the body. The legs themselves seems to be coupled correctly, but not correctly coupled to the body. I am able to make a bit of progress by setting all the hips to `Immovable` and editing the parameters in the controller script. Once I do this, I am able to articul

[2021-12-06 23:01] at669 commented on #333
Hi @zarumo, yes--@PsePaleBlue's link above is a relevant forum thread, as our support for ROS Actions is currently minimal, but we hope to support them better in future. The relevant actions-registering bug has been filed for internal tracking--I'll add this thread to the ticket for tracking as well.  We will let you know when there are updates to this thread!

[2021-12-07 21:07] peifeng-unity commented on #262
Hello @ryangoh206 and @rshanor, thanks for reporting the issue. I am able to reproduce the issue on my laptop, and the reason for the problem is the hierarchy of links defined in the URDF file does not match what the URDF-Importer expected.

The current hierarchy of the links are:
[code]
But the importer expects:
[code]

The mismatch of the hierarchy makes the `ArticulationBody` component missing

[2021-12-13 17:50] zarumo commented on #333
Thank you, @sdiao @PsePaleBlue @at669 @bryceikeda !
I am currently using the contents of the tutorial part3 for my university research, and I am very grateful for this repository.
Eventually I hope to work with actual NiryoOne robot, so I'm looking forward to the updates! Thanks!

[2021-12-17 04:49] PetterVMC opened #337 "ROSTCPConnector ArgumentOutOfRangeException in PickAndPlaceDemo"
Hi,

When running either DemoScene or a completed part3 of the Pick-And-Place tutorials, occasionally the ROSTCPConnector throws an ArgumentOutOfRangeException upon receiving the trajectory (service response) from ROS.

It usually works fine, but after playing DemoScene many times, it happens about every 20th or 30th execution or so.

- Anyone else experiencing the same problem?

- Is there someth

[2021-12-18 01:57] hyounesy commented on #337
Hi @PetterVMC.  Thank you for reaching out. We have created an internal ticket (AIRO-1647) to investigate the issue. We will come back to you soon.

[2021-12-20 04:14] ryangoh206 commented on #262
Hi @peifeng-unity,
Thanks! I have tried it out and it works.

[2021-12-22 08:20] marcoojer opened #338 "How can I set the start joint configuration of a robot for a simulation?"
Hi everyone,

I wonder how I can set the joint positions for the robot before the simulation starts. Every URDF that I load, the joints are at their zeros, but I will like to start the simulation with the joints in other positions. I know you can move any joint with the articulationDrivex.target but this happens during the simulation and its taking into account the pyshics.
Any idea about how to d

[2021-12-23 23:38] husainhz7 opened #339 "Mention to place Pick and place robot at origin in Tutorial"
**Describe the bug**
The Pick and place tutorial does not specify to place the imported urdf niryo robot at origin with no rotation. If placed at any other orientation, the trajectory will be wrong.
pick_and_place/1_urdf.md can be mention to place the robot at at origin with no change in orientation. It wasn't clear in the tutorial

**Expected behavior**
Niryo robot trajectory should be work

**En

[2021-12-29 03:45] vidurvij-Unity commented on #338
There are two options to set the joint angles before the simulation start:
1. You can change the joint positions by changing the target positions of each joint in the Articulation Body inspector window of each joint.
<img width="409" alt="Screen Shot 2021-12-28 at 7 41 41 PM" src="https://user-images.githubusercontent.com/60901103/147625391-95ac03a5-0034-4800-b3be-d7dfaf78e414.png">

2. Or use Art

[2021-12-29 03:50] vidurvij-Unity commented on #339
Hi @husainhz7 ,
This is not a bug. The tutorial is meant to followed verbatim and the import parameters written in the URDF file imports the robot in the correct position which is compatible with the IK profile setup in ROS.

[2021-12-29 03:50] #339 closed

[2022-01-03 21:25] geoffreymantel commented on #169
@mpinol  - Shouldn't Android work out of the box? i.e:

[code]

I also just encountered this issue when building for Oculus Quest 2. The work-around here seems non-trivial compared with the suggested patch above. Please let me know what you think.

[2022-01-04 07:29] marcoojer commented on #338
Thanks you for your answer. But for what I understood and try about the articulation body, what you do by setting the target, is than when the simulation starts it will go to that position as soon as the physics are enable, if there is an obstacle in the way it will get stuck there. What I want is to start the simulation directly in a particular joint configuration. For example, if you want the fi

[2022-01-06 08:48] wh1998ya opened #340 "lk problem in this dome"
I want to move the end of the robotic arm to any position in this dome. How do I do this?

[2022-01-06 18:51] at669 commented on #340
Hi @wh1998ya--I have responded to this on your [Robotics Forum post](https://forum.unity.com/threads/how-to-use-the-lk-solver-of-ros-in-the-pick-and-placeproject-dome-to-control-the-end-pose-of-niryo-o.1220052/). I will close out this issue in order to consolidate the discussion. Thanks!

[2022-01-06 18:51] #340 closed

[2022-01-06 19:32] at669 commented on #262
Closing this out, as the issue has been resolved.

[2022-01-06 19:32] #262 closed

[2022-01-08 18:38] Hrithik-verma opened #341 "ROSConnection error"
I followed the entire tutorials, but still I'm unable to connect ros with unity. When I start play on unity nothing display and I have check my host id is also correct but I does not what is the issue.
I also tried ros-unity publisher but I'm getting a error after adding the script.
Error:
![image](https://user-images.githubusercontent.com/68248667/148655543-d8ce049e-1967-4b7c-8f75-24f845ca3aea.pn

[2022-01-10 13:02] yunacu opened #342 "InvalidCastException: Specified cast is not valid"
Hello,
I am trying to connect ROS with the Kart Microgame provided by unity. I have added the assembly to the project but I get the error **InvalidCastException: Specified cast is not valid** within the file **ROSConnection.cs** in the `callback((T)msg);` line:
`
        public void Subscribe<T>(string topic, Action<T> callback) where T : Message
        {
            string rosMessageName = Messa

[2022-01-10 19:15] at669 commented on #342
Hi, thanks for the report! I've created an internal ticket to investigate the issue. We'll get back to you with any updates.

In the meantime, can you clarify the following:

- how are you constructing the messages sent on `/hand/rotation`?
- how and where are you publishing the `/hand/rotation` messages?

[Ticket#: AIRO-1662]

[2022-01-11 08:50] yunacu commented on #342
Hi Thank you for your fast answer.

- I have a node running that publishes an Float64MultyArrayMsg of size 3 with three different floats.
- This node is publishing correctly, is seen by Unity and in simpler projects it can be subscribed to by the unity project
-

[2022-01-11 19:13] mrpropellers commented on #342
Hey @yunacu, I believe the standard size for a float in C# is 32 bits, so the invalid cast you are seeing is in attempting to cast a 64 bit value into a 32 bit type.  Try using `(double)` instead and see if that resolves the error.

[2022-01-12 04:55] Hrithik-verma commented on #341
Yeah I understood this error exist because I was using ROS TCP Connector of v0.5.0 and script of v0.6.0.
It took me some time to figure this out. So to help other I made a small YouTube video.
Video link: https://youtu.be/pdMxLxolQuo

But, still there is one error when I add ROS TCP Connector of v0.6.0 pakage.
error: "A meta data file (.meta) exists but its folder 'Packages/com.unity.robotics.ros-

[2022-01-12 18:13] at669 commented on #341
Thanks for making that video! Feel free to post it to the [Robotics Forum](https://forum.unity.com/forums/robotics.623/) to share it with others.

This is a warning that doesn't affect the functionality of the package, not an error. The metafile in question has been removed in the latest development branches of the package, and this version will be released at a later point.

I'll close out this i

[2022-01-12 18:13] #341 closed

[2022-01-12 19:20] mrpropellers commented on #338
Does setting the "Anchor Rotation" accomplish what you need @marcoojer? You can also set the rotation value in the encapsulating GameObject's Transform. I think either of these options are effectively changing the zero point of the joint angle, though, so you would need to also modify the drive ranges to keep the range of movement from rotating as well.

[2022-01-12 19:58] mrpropellers commented on #337
Hi @PetterVMC , can you confirm a few things for me so I can better reproduce and investigate this?
1. Do you restart anything between executions or are you simply stopping and starting PlayMode with the play button in editor?
2. Is the error always caused by the JointTrajectoryMessage, or do you think it could occur with any arbitrary ROS message?

[2022-01-13 02:10] mrpropellers commented on #333
Re-opening. Fix should go in when AIRO-1571 is resolved

[2022-01-13 09:36] PetterVMC commented on #337
Hi @mrpropellers , thanks for the follow up. See answers below.

Can reproduce it by simply stopping and starting PlayMode with play button, without restarting anything else.

Haven't tested thoroughly with other messages yet so cannot answer this.

[2022-01-13 15:34] cedricgoubard opened #343 "Custom URDF results in rendering error (problem with inertia tensor rotation)"
**Describe the bug**
When importing my URDF file and launching the scene, the robot does not appear. I have narrowed it down to a problem with the inertia values for one of the links in the URDF file, which results in a NaN value in the object's inertia tensor rotation.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [the repository I created for this occasion](https://github.com/cedri

[2022-01-14 16:01] yunacu commented on #342
I am not seeing the "hello" message.
With a simpler project, I subscribed with the same type of message and it worked well. Any reason why it would not work in this project? I am not sure what you mean for a fully-qualified type, how can I test this? I think this is not the reason of the error since it worked with the same topic on a different unity project

[2022-01-14 18:42] mrpropellers commented on #342
If you are getting an invalid cast on callback invocation then whatever is getting passed to callback must not be a `RosMessageTypes.Std.Float64MultiArrayMsg`. Can you use a breakpoint to stop execution and examine the type of the message being passed to the callback?

[2022-01-14 22:40] yunacu commented on #342
I cannot execute it because the error prevents me from playing. I tried again with another simple project and it works without problem:
[code]

[2022-01-14 22:41] yunacu commented on #342
I believe this problem can be reproduced by downloading the Kart Microgame, adding the ROS package to the project and the assembly and subscribing to any topic. It does not need to be a float array

[2022-01-15 12:53] panagelak opened #345 "Unity Rgb-d Simulated Camera to ROS"
Hello i really like this project!

I believe the Community miss an easy example/functionality of simulating an rgbd camera in Unity and transferring the topics to Ros efficiently.

I have created a starter project for this purpose here :  https://github.com/panagelak/rgbd_unity_camera

I believe the best way to do that is to send into ros 4 topics namely

1. a compress rgb image and camera info to

[2022-01-18 20:43] Baldins opened #346 "colcon build error"
Hello,

I am getting the following error with colcon build - does someone can help?

lambda-rl@lambda-dual:~/dev_ws$ source install/setup.bash
ROS_DISTRO was set to 'foxy' before. Please make sure that the environment does not mix paths from different distributions.
ROS_DISTRO was set to 'noetic' before. Please make sure that the environment does not mix paths from different distributions.
[connex

[2022-01-19 03:36] bryceikeda commented on #262
I created a quick video tutorial on how to get the spot moving using Unity and ROS.

https://www.youtube.com/watch?v=3MYeBxFVBHI

Let me know if it helps and if you have any suggestions for improvement. In the description, I added an edit on how I get the spot movement smoother.

[2022-01-19 03:41] ryangoh206 commented on #262
Ok thanks @bryceikeda ! I will take a look at the video.

[2022-01-19 23:44] LaurieCheers-unity commented on #346
Just as it says, your environment seems to contain a mixture of Foxy (ROS 2) and Noetic (ROS 1). Since you're doing colcon build I assume you want ROS 2 - try uninstalling Noetic?

[2022-01-20 19:01] LaurieCheers-unity commented on #337
I was unable to reproduce this after running the trajectory solver 50 times with various conditions (leaving the cube where it was, moving the cube to random positions, restarting play mode).

Judging by the call stack, we're failing to deserialize an incoming trajectory message - but that doesn't tell us whether it's a bug in the deserializer, or we have garbage data coming in, or what.

In the f

[2022-01-21 06:58] PetterVMC commented on #337
@LaurieCheers-unity,
I added the provided code, as well as logging of the length and offset variables. then reproduced the error and got the following output:

**length:**
1970235507

**offset:**
37

**data:**
`06-00-00-00-00-00-00-00-29-2A-E9-61-EC-80-05-1A-09-00-00-00-62-61-73-65-5F-6C-69-6E-6B-0D-00-00-00-73-68-6F-75-6C-64-65-72-5F-6C-69-6E-6B-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-91-

[2022-01-21 19:06] LaurieCheers-unity commented on #337
Thanks for this. The data here breaks down as

0-4: [array length 6]
5-29: [header with frame_id = "base_link"]
30-46: [the string "shoulder_link"]
...

This is consistent with a TFMessage (and not a MoverServiceResponse, which would have an array of strings instead of a single string there) - so I agree your guess looks correct.

When sending a service response, the Endpoint first sends a service

[2022-01-24 03:17] PetterVMC commented on #337
I checked the console on the ROS side but there doesn't appear to be any different output when it fails.

Output from Play to Stop:
[code]

(The exceptions in the end happen every time on disconnect, i.e. on stop play, regardless of the service response problem)

[2022-01-24 16:28] agru97 opened #347 "Find shortest path for free revolute joint on an Articulation body"
When I set the X Drive target of the free revolute joint on an Articulation body to 1 and the to a 360 it will move the whole way around.
How do I set my robot up so that it always takes the shortest part. DO I have to fix this issue in Unity or on the ROS/MoveIt Side?
Because when I get my trajectory from Moveit I think i have the same problem like the 1 to 360 rotation. This causes my Robot to d

[2022-01-24 18:51] LaurieCheers-unity commented on #337
Aha, this must be a threading issue then. This line (https://github.com/Unity-Technologies/ROS-TCP-Endpoint/blob/715a402ec09ce8095faabed915e3371638b4246a/src/ros_tcp_endpoint/tcp_sender.py#L78) queues the service header for sending, and the next line queues the message body, but there's nothing that ensures another thread doesn't queue something inbetween.

I made a fix for this, could you switch

[2022-01-25 06:05] ktomohiro990103 opened #349 "I can't connect ROS with Unity by using tutorial of pick_and_place."
Hi everyone!
Please tell me how to remove the error when I connect ROS with Unity.

I execute the tutorial of pick_and_place. And I finished twelfth on the Unity Side of "Pick-and-Place Tutorial : Part2".
When I runed "roslaunch niryo_moveit part_2.launch" on ROS workspace, this error happened.

Traceback (most recent call last):
  File "/home/username/catkin_ws/src/Unity-Robotics-Hub/tutorials/pi

[2022-01-25 15:24] marcoojer opened #350 "Tutorial For ROS action server and clients"
Hi,

Is there any tutorial/example about how to write action servers and action clients in the Unity Side?. I see there are examples for topic and services but not for actions. Are Ros actions not implemented yet?

Best Regards

[2022-01-25 16:36] hyounesy commented on #350
Hello @marcoojer You should be able to generate the Action messages but will have to publish or subscribe to the action's topic. [This part of the tutorial](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/pick_and_place/4_pick_and_place.md) uses actions and it might be a good reference. Please feel free to let us know if you have more questions.

[2022-01-25 16:46] hyounesy commented on #349
Hi @ktomohiro990103, Looks like ros_tcp_endpoint is not properly added to your catkin workspace.

- Download and copy the [ROS-TCP-Endpoint](https://github.com/Unity-Technologies/ROS-TCP-Endpoint) package into the `src` folder in your Catkin workspace.
- Then navigate to your Catkin workspace and run `catkin_make`,
- then `source devel/setup.bash`. Ensure there are no errors.

For more details ple

[2022-01-25 17:49] hyounesy commented on #350
Update: we have recently fixed a bug related to the message generation for the ROS actions in ROS-TCP-Connector. The fix will be included in the next release soon, but until then you may use the [dev branch](https://github.com/Unity-Technologies/ROS-TCP-Connector/tree/dev).

[2022-01-26 02:46] ktomohiro990103 commented on #349
Thank you for telling me about how to remove the error!
When I runed "roslaunch niryo_moveit part_2.launch" on ROS workspace, two errors happened.

I tell you about what I did.
I downloaded the ROS-TCP-Endpoint package into the "/home/username/catkin_ws/src" folder.
And I succeeded "catkin_make" and "source devel/setup.bash" in my catkin workspace in this way.

username@username-VirtualBox:~/catki

[2022-01-26 07:36] marcoojer commented on #350
I see, I'll take a look at that.  Thank you very much!!!

[2022-01-26 07:36] #350 closed

[2022-01-26 17:59] LaurieCheers-unity commented on #337
<bump> Would be great to know whether this fix solves the problem. :-D

[2022-01-27 10:00] PetterVMC commented on #337
Sorry for the wait, just managed to get some time to try the fix.

I've played the simulation like 50~100 times now without being able to reproducing the problem, so it seems like the fix solved it! Thank you :)

[2022-01-27 17:40] LaurieCheers-unity commented on #337
Great to know, thanks! This fix is now in dev branch and we'll be doing a release to main soon.

[2022-01-27 17:40] #337 closed

[2022-02-01 15:04] pucciland95 opened #353 "Using RosConnector to Oculus Quest 2"
Hello everybody,
I start by saying that I am not really good both with ROS and Unity so please be patient.

I managed to finish the pick_and_place tutorial that the Git Hub page presents and everything works fine (I arrived up to part 2 tutorial).
What I would like to do now is to build everything into my Oculus Quest 2 (which is an Android App as far as I understood) and make it communicate with

[2022-02-02 09:43] pucciland95 commented on #353
Hello everybody,

I solved the issue and now everything works!
I managed to make communicate ROS with the Robot in my Oculus Quest 2. Hereafter is a short guide on how to make part_2 and part_3 for the pick_and_place tutorial work in an Android App in general. (I write it since I have not found anything about that and I think it is really cool to see the robot perform the same actions that it does

[2022-02-02 09:43] #353 closed

[2022-02-02 22:59] vidurvij-Unity commented on #347
Hi sorry for the delayed response. We are having an internal discussion about this issue. We will get back to you as soon as possible. [AIRO-1697]

[2022-02-03 09:37] StephanHasler commented on #349
Hi @ktomohiro990103, it may be that in your setup you have two ROS workspaces inside each other.

I think you placed:
Unity-Robotics-Hub/tutorials/pick_and_place/ROS
inside you own workspace:
~/catkin_ws/src
But according to:
https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/pick_and_place/0_ros_setup.md
Unity-Robotics-Hub/tutorials/pick_and_place/ROS is meant to be the

[2022-02-03 10:14] yunacu commented on #342
The issue has not been solved yet

[2022-02-06 01:33] vidurvij-Unity commented on #345
Thank you posting this. I will look into this issue.

[2022-02-06 07:37] vidurvij-Unity commented on #342
Can you upload the project into a repo and share it here ?

[2022-02-06 07:40] vidurvij-Unity commented on #333
AIRO-1571 is resolved

[2022-02-06 07:40] #333 closed

[2022-02-07 13:33] panagelak commented on #345
@vidurvij-Unity

Thank you for taking the time

[2022-02-07 22:58] argolomb opened #354 "4 wheel differential robot wrong movement"
**Describe the bug**
I'm trying to reproduce this robot(https://global.agilex.ai/products/scout-2-0) in unity to replace gazebo as my simulation platform. Everything is fine with URDF-Importer and ROS-TCP Connection. I can get the joint state message and convert to movement with "ArticulationDrive drive = joint.xDrive;"

The mobile robot go forward and backward but no curves or spin around his cen

[2022-02-08 00:03] vidurvij-Unity commented on #354
Can you share the repository for the project. It would help me understand the Physics settings you are using.

[2022-02-08 09:08] vidurvij-Unity commented on #343
@cedricgoubard Thanks for bringing this to our attention. Added an internal ticket and started a PR to correct the behavior.
[AIRO - 1703]

[2022-02-08 16:48] argolomb commented on #354
[AIRO-1702]

Yes, sure.

[scout_beta](https://github.com/argolomb/scout_beta)

[2022-02-09 00:16] vidurvij-Unity commented on #343
Correction has been merged in dev branch.

[2022-02-09 00:16] #343 closed

[2022-02-10 21:45] A-Ivan opened #355 "Missing ROS Melodic Information on ROS setup"
**Describe the bug**
In the ROS setup of the Pick-and-Place Tutorial: Part 0 > [Option B: Manual Setup](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/pick_and_place/0_ros_setup.md#option-b-manual-setup), there is an explanation on how to setup ROS for both Melodic and Noetic.

Before the terminal commands for the Noetic version, the following title/phrase appears "RO

[2022-02-10 21:51] at669 commented on #355
Hey @A-Ivan! Looks like the line about Melodic is just before your box, without an extra line break. I'll go put it on the next line for consistency. Thanks!

[2022-02-10 22:07] A-Ivan opened #357 "Network Troubleshooting Update"
**Describe the bug**
With the current version of the [ROS-TCP-Endpoint](https://github.com/Unity-Technologies/ROS-TCP-Endpoint) (0.7.0), the config folder and the params.yaml file have been removed.

I believe the troubleshooting notes in the [Pick-and-Place Tutorial: Part 2](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/pick_and_place/2_ros_tcp.md#troubleshooting) p

[2022-02-10 22:11] A-Ivan commented on #355
You're welcome. I can see it now, thanks. Strange that without the line break my browser wouldn't show the line.

[2022-02-10 22:11] at669 commented on #357
Thanks for the feedback! I'll be tracking these suggestions in an internal ticket and will pull any related updates in with #355.

[Ticket#: AIRO-1709]

[2022-02-11 20:02] at669 commented on #357
These documentation updates have been merged, and I'll close out this ticket. Thanks!

[2022-02-11 20:02] #357 closed

[2022-02-11 20:02] at669 commented on #355
These documentation updates have been merged, and I'll close out this ticket. Thanks again!

[2022-02-11 20:02] #355 closed

[2022-02-14 01:24] ZhuoyunZhong commented on #345
Do you have the problem of frame drop when you publish images to Rviz? My framerate can drop from ~200Hz to 40Hz when publishing images.

[2022-02-17 02:47] ktomohiro990103 commented on #349
Hi @StephanHasler
Thank you for telling me about how to remove the error. I'm sorry for the delayed response.
When I executed your solution, I understood that I couldn't use simple commands of ROS.
I did trial and error to confirm that I can use commands of ROS. So, I delayed the response.
When I can use commands of ROS, I will execute your solution again.

[2022-02-17 13:04] benchun123 opened #358 "Turtlebot Navigation: ROS 1 vs ROS 2"
Hey,

I am really interested in Unity and ROS. After running the tutorials by Unity-Technology, I can simulate uArm with ROS and turtlebot 3 with ROS 2. Then, I have a question: why we use ROS 2 for turtlebot not ROS 1?

Currently, I have a real turtlebot, which is controlled by ROS 1, but in Unity Robotics, I can only find turtlebot with ROS 2. So, If I want to develop the simulation on ROS 1, is

[2022-02-17 15:41] marcoojer commented on #338
I found out the solution, which was the function SetJointPositions() on the root articulated body. You also need define the Driver target to the same position.

[2022-02-19 19:26] rbriki commented on #353
Hi everyone,
sorry to reopen the issue but I am facing the same problem for a University course project and can't manage to make things work.
I followed the steps explained by Niccolò but as I press Build and Run and put my Oculus Quest 2 on the application is running but nothing happens on the ROS server as no connection is detected.

Moreover, I could not see the publish button but I think this

[2022-02-19 22:33] rbriki opened #359 "Oculus Quest 2 to ROS connection"
Hi everyone,
I am very new to
I'm really sorry to open a new issue even though there is a closed issue that I would like to refer but I can't manage to reopen it.
The problem is the same as for issue #353, I am trying to play the pick and place demo on my Oculus Quest 2. The build goes fine and no errors are prompted but when the app is running ROS does not receive any connection.

I followed the

[2022-02-19 23:22] pucciland95 commented on #359
Ciao,

So let's start simple (which is not because at least my oculus had problems also connecting to a simple wi fi):

1) Did you check that the oculus and the device where ROS run are under the same network? To check it try to ping your oculus from your device. If something returns they are both connected under the same network.

2) the ip that is under the launch file of ROS tcp is the same as

[2022-02-20 12:53] florianfhws commented on #345
Dear @vidurvij-Unity  i am working on this problem as well, for me the problem is that the publishing and the rendering of the cameras is done in the same function and therefor my depth camera to wait till the color camera is finished. I know that rendering is bound to one thread so stacking an infinite amount of cameras is not possible.
However is it possible to put the publishing of the images i

[2022-02-20 12:55] florianfhws commented on #345
Right now another problem is that packing the image data into a message is taking up a lot of time (20-30 ms) by EncodeToJPG()  as the data should be compressed to avoid huge data to be transferred. can this process also be packed into a thread?

[2022-02-20 18:59] panagelak commented on #345
@florianfhws

you might be interested in the implementation at https://github.com/fsstudio-team/ZeroSimROSUnity
(there they don't compress it and i had to run the rosbridge from the provided docker after i fixed some minor build errors)

also i raised an issue with a problem on the distortion of the pointcloud (due to what i believe incorrect depth data representation and possibly cam info)

https

[2022-02-20 20:53] rbriki commented on #359
Thank you so much for your fast response.

I spent some time today verifying all the stuff you suggested, so:
1-I can ping the oculus, after struggling to find out the IP address.
2- regarding this second point, sincerely, I do not know. Is it the fact that in play mode the application runs for this point to be satisfied? If the fact that in play mode everything works is not a sufficient indicator

[2022-02-20 21:00] pucciland95 commented on #359
Mate, I am also from politecnico. I can send you a meet and discuss about your problem. If not you can come to my office at DEIB and we can discuss about it

[2022-02-21 09:39] rbriki commented on #359
Wow that's great to know. I'm relatively free this week and I am in Milan until saturday (I'll be back next week anyway). Let me know how/when you prefer to meet us and if you need my mail or stuff.

[2022-02-21 09:41] pucciland95 commented on #359
Send me a mail: niccolo.lucci@polimi.it

[2022-02-23 12:58] florianfhws commented on #345
@panagelak  the project is very interesting especially the use of AsyncGPUReadbackRequest.
However as the request only enables access to the raw data you would first need to copy them into a Texture2D and then call the encodetojpg function and again encodetojpg would cause the mainthread to wait,  so packing raw data into your messages is the only fast option.
A solution with packing the raw data

[2022-02-23 19:44] DLu commented on #354
I am also hoping for a solution here. @vidurvij-Unity any luck?

[2022-02-24 19:10] sarah-gibson commented on #358
Hi @benchun123

Our ros-tcp-connector package actually supports ROS 1 as well as ROS 2! I suggest you take a look at [this documentation](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/ros_unity_integration/setup.md) and try to switch to ROS 1 on your own! You will also need to replace the ROS 2 navigation packages with corresponding ROS 1 packages, of which there are

[2022-02-24 19:10] #358 closed

[2022-02-24 19:10] argolomb commented on #354
My solution was:
- Not use URDF importer
- Create the robot in unity
- Add wheel coliders on wheels
- Create 4 wheel drive controller(using PID)

[2022-02-28 11:50] ktomohiro990103 commented on #349
Thank you for telling me about how to remove the error!
This error happened because I didn't execute "source devel/setup.bash" before I runed "roslaunch niryo_moveit part_2.launch".
I resolved trouble of ROS. So, thank you so much!

[2022-02-28 11:50] #349 closed

[2022-03-01 00:42] saratrajput opened #360 "No trajectory returned and freeze | Hololens 2 Development"
**Describe the bug**
Hi. I'm trying to set up the pick and place tutorial in Hololens 2. When I try to change the position of the **Robot** along with the **Table, Target, and TargetPlacement**, I get the error ``No trajectory returned from MoverService.``` and the gameplay freezes.

I would like to move the whole setup away from the (0, 0, 0) position since the same position is occupied by the Ho

[2022-03-07 04:26] karthikm-0 opened #361 "Unable to pick up objects heavier than 0.05 using manipulator arm"
I am struggling to pick up objects heavier than 0.05 units (on rigid bodies). I am using a teleoperated robot arm with basic parameters for the controller (Stiffness: 100000, : Damping: 10000, Force Limit: 10000). The issue is that when these objects are picked up they wobble and eventually slip away. Objects with any more weight are never picked up. Here's a demo showing both:

https://streamable

[2022-03-14 17:23] peted70 commented on #360
I think this might be a case of changing the Target and TargetPlacement usage from transform.position to transform.localPosition in TrajectoryPlanner.cs. (I haven't fully tested this but a quick test seemed to work).

[2022-03-14 21:09] ricmua commented on #311
I am also looking for an unsubscribe feature, but the  the VisualizatioPackage link is broken. Before I submit a bug report or feature requesting, I just want to check: Are there any updates to this? @sdiao

My Unity script is currently calling the [Unsubscribe](https://github.com/Unity-Technologies/ROS-TCP-Connector/blob/c27f00c6cf750d2d0564349b3039d19aa3925e7c/com.unity.robotics.ros-tcp-connecto

[2022-03-14 23:34] saratrajput commented on #360
@peted70 Thanks. Let me give it a try.

[2022-03-15 01:08] jackmca commented on #311
Hello, from what I understand, there have been no updates to Unsubscribing, the Unity side of the ROS messaging has added support for Unsubscribing (As you mentioned), but the actual ROS Endpoint does not have a handle for when this is called. Looks like the Endpoint needs updating.

Cheers,
Jack
________________________________
From: ricmua ***@***.***>
Sent: Tuesday, 15 March 2022 7:09 AM
To: Un

[2022-03-15 10:23] peted70 commented on #360
@saratrajput ok, let me know if it works ok and I will submit a PR for it. My initial quick test worked but am testing it further here.

[2022-03-16 14:38] peted70 commented on #360
I tested this on a HoloLens 2 using Unity 2020.3.26f1 + ROS1 noetic running on an Ubuntu VM and it works for me. I have create a PR here https://github.com/Unity-Technologies/Unity-Robotics-Hub/pull/362

[2022-03-16 22:50] saratrajput commented on #360
@peted70 Thank you very much. I can confirm it works.

[2022-03-16 22:59] saratrajput commented on #339
@husainhz7 I think #362 solves your issue.
@vidurvij-Unity I understand it is not a bug, but being able to move the robot can help in VR/AR development where the default position of the AR/VR device is at the origin. Please have a look at #360 for more details.

[2022-03-17 10:57] erencandural commented on #361
Hello, while I'm a novice with Unity and robotics, I came across something that may be of help to you. I'm using Franka Emika Panda as well and when I was converting the robot's .xacro file into a .urdf file, I used the `rosrun xacro xacro $(rospack find franka_description)/robots/panda_arm.urdf.xacro gazebo:=true hand:=true> panda_arm.urdf` command, enabling the gazebo simulation option. In the i

[2022-03-29 14:21] DavidbVEC commented on #293
I managed to fix this by replacing the line with this
RUN dos2unix /setup.sh && chmod +x /setup.sh && /setup.sh && rm /setup.sh

and adding:
RUN sudo apt-get update && sudo apt-get install -y dos2unix

After setting the ENV

[2022-03-29 20:06] bulbus opened #363 "Changing the scale of the robot"
Hello everybody.

**Describe the bug**
I have been using the content of this repo in combination with an Hololens for a few time. Lately I tried to scale the whole holographic experience in order to have a clearer view of the robot moving near a small object.
Moving the robot and the object under a parent object and scaling the parent object, when the trajectory calculated with moveit is returned,

[2022-03-29 23:31] ndaley7 opened #364 "Publisher Demo Exception: System.Net.Sockets.SocketException (0x80004005)"
**Describe the bug**
Good Afternoon,

I am trying to run the Publisher demo found [here](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/ros_unity_integration/publisher.md)

and I receive this error in the unity console:

_**Connection to 127.0.0.1:20000 failed - System.Net.Sockets.SocketException (0x80004005): No connection could be made because the target machine act

[2022-04-06 14:09] DyumanAditya opened #365 "Import Robot Programmatically"
Hi everyone,

I'm trying to build a unity setup which doesn't have the robot loaded at the start. I need the urdf to be loaded when the user clicks a button. Is there a way to import the urdf through a C# script?
If not, is there a way to achieve this?

Thanks in advance.

[2022-04-07 06:41] qianxf001 opened #366 "Failed to build WebGL using PickandPlaceProject"
Hi ,

I follow the tutorials to set PickAndPlaceProject ,and build WebGL.
tutorials  link: https://github.com/Unity-Technologies/Unity-Robotics-Hub/tree/main/tutorials/pick_and_place.
After set "Pick-and-Place Tutorial: Part 2", I tried to buildWebGL but get error.
Could you help to check the error info if I missed some config?

**Environment Details:**
OS version: Ubuntu18.04
Unity Hub: 3.0.0-bet

[2022-04-07 06:42] qianxf001 commented on #366
build setting screenshot:
![buildsetting](https://user-images.githubusercontent.com/61813020/162136241-519fa3bb-bd2c-48d2-aa83-f30a20d7a080.JPG)
Playerseting screenshot:
![playersetting](https://user-images.githubusercontent.com/61813020/162136291-0bf5379f-5e3a-4b5d-860c-8a2659803ae3.JPG)

[2022-04-07 06:49] qianxf001 commented on #366
URDF-Importer and ROS-TCP-Connector version:
![image](https://user-images.githubusercontent.com/61813020/162137441-dc6efbde-4aab-492d-817c-378678bde34e.png)

[2022-04-08 01:07] #364 closed

[2022-04-08 12:54] Hrithik-verma commented on #358
Hi @sarah-gibson
ros-tcp-connector package support ros1 that okay but we also want support of ros1 Navigation. Problem is its very difficult to understand how to adopt (https://github.com/Unity-Technologies/Robotics-Nav2-SLAM-Example) for ros1. Even a page on how to adopt ros2 navigation for Ros1 will work out. Please try and understand that unity ros is very new and there is hardly any other sour

[2022-04-13 13:12] zmsn opened #368 "Found unnecessary sentences in README"
Hello,

I follow the tutorials to import my urdf by using URDF-Importer.
In "Adding the URDF package", after entering the URL, I couldn't find "Import URDF" button.

README:
https://github.com/Unity-Technologies/URDF-Importer/blob/90f353e4352aae4df52fa2c05e49b804631d2a63/README.md

I found the same sentences in "Importing the robot using URDF file", so the sentence is probably for the next headlin

[2022-04-13 13:15] #368 closed

[2022-04-25 08:20] pml07 opened #369 "How can I control the robot using FK ?"
Hi,
because the examples of part 2 and part 3 are all control the robot using IK,
I wonder that if I can control the robot using FK
(like create a C# scripts to give the position of 6-axis of robot, then I can command some lines to execute)
eg. let forearm_link moves to (x,y,z) = (0.216, 1.105, -0.157) & arm_link moves to (x,y,z) = (0.0, 0.08, 0.0) & ....
or
eg. let wrist_link rotates angles (a,b,

[2022-04-27 16:18] rbriki opened #370 "Add a pose to the Pick and Place Trajectory Planner"
Hi guys,
First of all it is needed to sey that I am new to programming with just some basic knowledge in C#, Python and C++.
I am working on the Unity Robotics Hub's Pick and Place tutorial and I would like to add another pose to the sequence (the initial one) so to make the robot came back to its original position. I have no clue on how to do that so any kind of info or starting point would be ap

[2022-05-10 14:15] AlonArditi opened #371 "Mobile robot loses balance when arms are moving"
**Describe the bug**
I have been running into some issues trying to simulate joint movement in our mobile robot, built with the URDF importer. I am moving the robot by changing the target parameter in the articulation body component leaving target velocity permanently as 0. As I use the values recommended for stiffness, damping and force limit with the REAL MASSES of the parts(each arm is a total

[2022-05-11 17:49] babindemers opened #372 "Unable to publish images with URP"
**Describe the bug**
Camera can't seem to be rendered when using the Universal Render Pipeline. No problems occur when using the built-in renderer.

**To Reproduce**
This script was inspired by the [publisher tutorial](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/ros_unity_integration/publisher.md) and this [forum post](https://forum.unity.com/threads/publish-game-c

[2022-05-13 15:34] babindemers commented on #372
I managed to fix my error. When using the Universal Render Pipeline, you have to use the appropriate function in its rendering loop. Thus, I updated my code to use the proper hook and the render function. Thanks to this [answer](https://forum.unity.com/threads/is-there-any-way-to-do-a-single-camera-render-with-urp.816696/#post-5554030).

[code]

The error was caused by my inexperience with Unity.

[2022-05-13 15:34] #372 closed

[2022-05-19 08:49] Menno00 commented on #317
Has anyone fixed this error?

[2022-05-19 11:39] Nekomiya-fubuki opened #373 "Pick-and-place Part2 Connection failed"
**Describe the bug**
I followed the pick-and-place tutorial step by step,and I finished the Part0 and Part1.But when I continue to do the Part2,I can;t
get a connection between ros and unity.I think I set the right ROS ip

**Screenshots**
ROS worked fine, but Unity couldn't connect
![2022_05_19_12_46 02](https://user-images.githubusercontent.com/83761877/169284588-d124d515-8557-4f4c-918e-4023c0fa6

[2022-05-20 09:55] jxhxzzzz opened #374 "How to get the ros robot's position displayed in Unity"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-30 10:02] jxhxzzzz commented on #374
I have seen the script RosPublisherExample, but it publishes the pose of objects in Unity to ROS. I want to implement it in reverse. Could you please give me an example

[2022-06-01 23:55] palwanishan opened #375 "UDP support request"
As I know currently communication between ROS and Unity is done by TCP which is exactly same as ROS communication itself. Partially, ROS supports UDP as well but not widely used or supported. I would like to send and get bigger data such as LIDAR, RGB and Depth. Currently, it doesn't transfer any data other than first frame in most cases, even in the fast local network.
My personal hypothesis is U

[2022-06-06 09:07] seifmostafa73 opened #376 "weird target angle"
**Describe the bug**
ArticulationBody behaves weirdly after giving feeding in Target and Target Velocity
**To Reproduce**
Steps to reproduce the behavior:
Add an ArticulationBody component on a game object under a root articulation body with the following configuration
![image](https://user-images.githubusercontent.com/55613060/172128726-912563c4-d1ab-4099-b002-dd49211b2214.png)

running the scene

[2022-06-06 19:53] Stan850 commented on #359
Hi all,

I have been having the same problem lately with connecting to ROS from my Unity app built onto my Oculus Quest 1. Here are the environment details:

OS: Windows 10 Pro (with Unity 2021.2.7f1)
ROS Distro: ROS Noetic (running on the same Windows PC)
VR Device: Oculus Quest 1

I am using the ROS-TCP-Connector package (Unity side) and ros-tcp endpoint package (ros side), and have set up a cli

[2022-06-06 20:38] pucciland95 commented on #359
Hi mate,

If I remember correctly also the .asdef of the URDF package should be set to "android" and "Editor" only.

Another stupid mistake could be that you did not set the right ip in ROS CONNECTOR (it should be the one of the machine where ROS run, so your personal computer) or the opposite of the VR (the one inside  the launch of the TCP package, I always set it to 0.0.0.0).

Pay attention tha

[2022-06-06 21:02] Stan850 commented on #359
Thank you for your prompt reply!

I don't have a URDF package in my Unity project (that might be applicable only to the Pick And Place demo, I'm only using the ROS-TCP-Connector package just to integrate ROS with Unity). Regarding the IP, I have the same IP set under Robotics->ROS Settings and in my launch file for the TCP package which is the IP of the machine running my ros service. This should

[2022-06-07 06:08] pucciland95 commented on #359
Mmm no I don't think that the pick and place demo will help you.

The IP you set is the one coming out from the command "hostname -I"?.
Are the port the same? Default should be 10000
In unity did you set the correct ROS version in the TCP connector?
Are the Oculus and your pc connected to the same network? (The oculus sometimes seems connected but when you open an internet browser complains about

[2022-06-08 01:26] Stan850 commented on #359
Hi Niccolo,

Sorry for my late response. I ran "ipconfig /all", the equivalent command for windows PC since I am running my ros nodes on a windows machine and that's where I got my IP from. Its the same IP that I am using in the TCP endpoint launch file and that is set under ROS Settings in Unity. My app works with this IP in the editor but I have issues connecting to ROS in the built app. The por

[2022-06-08 06:37] pucciland95 commented on #359
Ok then.
This is my last shot before sending you all the screenshots of my config for oculus.

Is the Oculus in developer mode? Apparently you cannot transfer files with an external device if it is not active:

"Developer mode allows Oculus you as a user to unlock more functions of your Oculus headset. For instance, it lets you transfer files between your computer and VR device"

Let me know other

[2022-06-09 04:27] #376 closed

[2022-06-10 15:44] Stan850 commented on #359
Hi Niccolo,

Thanks for your patience, I just got back to addressing this issue.

Developer mode is enabled for me, I just disable my computer from being able to access files on my quest device every time it prompts me to do so. I did also try adding a firewall rule on my windows PC for port 10000 and the IP of my oculus quest and still no luck.

[2022-06-16 08:42] Skarsh opened #377 "RosPublisherExample gives warning in ROS2 Humble"
**Description of the bug**

Publishing the example `PosRot` message from the `unity_robotics_demo_msgs`  package using ROS2 gives warning log.

**To Reproduce**

Steps to reproduce the behavior:
1. Run up ros_tcp_endpoint version 0.7 and launch with default config e.g. `ROS_IP=0.0.0.0` port 10000.
2. Start the [RosPublisherExample](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main

[2022-06-21 07:27] pucciland95 commented on #359
Hi @Stan850. I am sorry I ran out of ideas...

Niccolò

[2022-06-24 11:02] SamuelMN005 commented on #359
Hello, I am trying to compile it to android and it appears to have this issue:

Exception: Cannot include plugin 'Packages/com.unity.robotics.urdf-importer/Runtime/UnityMeshImporter/Plugins/AssimpNet/Native/win/x86/assimp.dll' (Key: assimp.dll;None) since plugin with the same name and architecture was already added

[2022-06-30 12:52] syedjawadakhtar commented on #349
Hey! I'm getting the same problem of not being able to run the `roslaunch niryo_moveit part_2.launch` command in my ROS 2 galactic workspace on a virtual machine.
So I was able to follow the Pick and Place tutorial till the Part 2 unity part successfully. But I've been stuck in the ROS part.

I cloned the Unity-Robotics-Hub repo in my VM and `colcon build` gave me errors of multiple files with sam

[2022-07-13 06:27] mbulucay opened #378 "Unknown message class and not registered to publish topic"
I am creating two custom ros messages and building them into unity. When I try to publish data these custom messages it is not finding the custom messages and gives me this error;

SysCommand.subscribe - Unknown message class 'nmea_messages/ais_type123'
UnityEngine.Debug:LogError (object)
Unity.Robotics.ROSTCPConnector.ROSConnection:ReceiveSysCommand (string,string) (at Library/PackageCache/com.un

[2022-07-13 23:35] argolomb commented on #354
The solution is set a rigidbody.inertiaTensor value.
[code]

[2022-07-13 23:35] #354 closed

[2022-07-14 07:08] #378 closed

[2022-08-16 15:49] allan2013 commented on #359
Beside deleting the containing fold, I also comment out the following line otherwise not found error will pop up.
https://github.com/Unity-Technologies/URDF-Importer/blob/main/com.unity.robotics.urdf-importer/Runtime/UnityMeshImporter/MeshImporter.cs#L25

[2022-08-31 15:12] WenqiangX opened #380 "What's the practice to do torque control?"
**Is your feature request related to a problem? Please describe.**
I saw the documentation [here](https://github.com/Unity-Technologies/Unity-Robotics-Hub/blob/main/tutorials/urdf_importer/urdf_appendix.md#guide-to-write-your-own-controller)  mentions "Note: Best practices for velocity and torque control will be published in the future."

Since recently we really need the torque control feature, I

[2022-09-05 11:57] afatsum93 opened #381 "Creating multiple ros connection instances"
Hi,

First of all thank you for this package, it is working great!

I'm wondering if there is an easy way to create multiple ros connections to publish to/subscribe from different IP addresses. Basically I would like to send & receive data from 2 vehicles to 2 different tcp endpoints.

Regards

[2022-09-06 05:56] hassanb199 opened #382 "Move the HUD window that has the ROS IP on it easily on to other areas in the scene in unity."
I am not sure if there is a way to move the HUD window so that it can be lower or perhaps somewhere else on the screen. Is there an option that I can change something in code so it is slightly lower it?

This is the HUD that I'm referring to in unity to be completely clear:

![image](https://user-images.githubusercontent.com/73851790/188557311-bf0ba5d3-88ed-401b-a49f-768e277096d0.png)

I would req

[2022-09-08 17:55] KevinYuki commented on #311
Hello. I'm facing the same problem as @ricmua here. Is there any updates about the unsubscribe method? @sdiao

[2022-09-08 20:22] ricmua commented on #311
None from me, @KevinYuki . I've largely just tried to work around the problem.

[2022-09-21 03:48] mqt0029 commented on #301
While the issue is closed, a minor notice that may be helpful for ROS users.

If you are lazy like I am, you probably used MoveIt! Setup Assistance to generate the collision matrix, like I did in https://github.com/Unity-Technologies/Unity-Robotics-Hub/issues/301#issuecomment-928397938. There are **three changes** I would make before importing the URDF into Unity.

1. The supported tag is `<disabl

[2022-10-12 05:25] ynyBonfennil commented on #377
I have the same problem, too. My environment is a bit different.

- Unity Version: Unity 2021.3.4f1
- Unity machine OS: Windows 11
- ROS machine OS: Ubuntu 20.04 on WSL2
- ROS Version: ROS2 Galactic
- ROS-Unity communication: over WSL2
- ROS TCP Connector Version: v0.7.0

I tried to find out the reason by tracing the process of registering a publisher, and I've found that `public RosTopicState Reg

[2022-10-17 08:12] fig-shimooka opened #383 "Odometry not found."
Odometry not found.
How can I implement to publish Odometry?

[2022-10-17 08:55] fig-shimooka commented on #383
close

[2022-10-17 08:55] #383 closed

[2022-10-21 12:39] hanlonm commented on #347
Is there an update on this? I am having the same issue.
Or does anyone have a workaround?

[2022-10-27 11:56] owlmoo opened #384 "TCP connection failed in Unity in Pick and Place Tutorial—part 2 (using docker)"
**Describe the bug**
I follow the instruction to set up the docker and unity. However, when I hit play, I cannot build the connection.
In unity, it reports "Connection to 127.0.0.1:10000 failed" and "The remote host forcibly closed an existing connection".

![trouble](https://user-images.githubusercontent.com/48377476/198275585-ab5b0eb2-10c5-44c9-9f4e-7bfbd9b39741.png)

“远程主机强迫关闭了一个现有的连接” means "T

[2022-11-21 16:52] pringithub opened #385 "20.04 / noetic tutorial local install - python/python3 issue"
**Describe the bug**
ros code errors ad infinitum when running on a local 20.04 / noetic install due to python not referenced correctly.

**To Reproduce**
Steps to reproduce the behavior:
Install local ROS noetic / Ubuntu 20.04 build
Run pick_and_place tutorial quick_demo - `roslaunch niryo_moveit part_3.launch`

**Console logs / stack traces**
[code]
^ ad infinitum

**Expected behavior**
Code sho